fastapi
uvicorn
python-dotenv
pymongo
pandas
numpy
scikit-learn
reportlab
matplotlib
python-multipart
openpyxl
email-validator
xgboost
tensorflow
keras
pydantic[email]
passlib[bcrypt]
python-jose[cryptography]
